.container {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 200px 200px;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

h2 {
  color: #fff;
  font-size: 3rem;
}

.item {
  height: 180px;
  width: 180px;
  background-color: var(--green);
  border-radius: 50%;
  align-self: center;
  cursor: pointer;
  display: grid;
  align-items: center;
  justify-items: center;
}

a {
  color: #fff;
  text-decoration: none;
}

